<div class="row">
    <div>
        @Html.Partial("GuidPartial")
        <h2>**************************</h2>
        <h2>GuidItem Shows</h2>
        <h3>TransientGuid: @ViewBag.TransientGuid</h3>
        <h3>ScopedGuid: @ViewBag.ScopedGuid</h3>
        <h3>SingletonGuid: @ViewBag.SingletonGuid</h3>
    </div>
</div>



